%h2
  This phase
%ol
  %li
    %a{ :href => "./interaction-design-brainstorming.html" }
      Interaction Design Brainstorming
  %li
    %a{ :href => "./interaction-design-scenarios.html" }
      Interaction Design Scenarios
  %li
    %a{ :href => "./interaction-design-claims.html" }
      Interaction Design Claims
  %li
    %a{ :href => "./prototype.html" }
      Prototype
