%h2
  This phase
%ol
  %li
    %a{ :href => "root-concept.html" }
      Root concept
  %li
    %a{ :href => "field-studies.html" }
      Field studies
  %li
    %a{ :href => "summaries.html" }
      Summaries
  %li
    %a{ :href => "problem-scenarios.html" }
      Problem scenarios
  %li
    %a{ :href => "claims.html" }
      Claims
