body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

#content {
  font-size: .875em;
  line-height: 1.4em;
  min-width: 450px;
  max-width: 800px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  border-bottom: 1px dotted;
}

a:hover, a:active {
  border-bottom: 1px solid;
}
