%h1 StaticMatic!
%h2 Prototype scope
%p The approach taken in developing this prototype was to demonstrate the core functionality of the Digital Textbook App. The features that the prototype demonstrates are those which were intended to solve a particular pre-existent usability issue.
%p To aid rapid prototyping, screenshots from Apple&rsquo;s iBooks app have been used to simulate the look and feel of the Digital Textbook App, and many interactions are based directly on iBooks. We have demonstrated mostly those interactions which differ from iBooks current implementation.
%h2 Prototype fidelity
%p The chosen prototyping tool is Keynote. The screens were constructed with a combination of the following elements:
%ul
  %li Screenshots of iBooks
  %li UI elements from a Keynote-based iPad prototyping kit
  %li Object animations and slide transitions
%p This approach has made reasonably high-fidelity graphics and animations possible without writing a single line of code. Interactivity is simulated with hyperlinks. The prototype is also easily extensible by adding new slides, hyperlinks, animations and stock UI elements.

%div#id.class
  %p blah
