%h2
  This phase
%ol
  %li
    %a{ :href => "./activity-design-brainstorming.html" }
      Activity Design Brainstorming
  %li
    %a{ :href => "./activity-list.html" }
      Activity List
  %li
    %a{ :href => "./activity-scenarios.html" }
      Activity Scenarios
  %li
    %a{ :href => "./activity-claims.html" }
      Activity Claims
  %li
    %a{ :href => "./info-design-brainstorming.html" }
      Information Design Brainstorming
  %li
    %a{ :href => "./info-design-scenarios.html" }
      Information Design Scenarios
  %li
    %a{ :href => "./info-design-claims.html" }
      Information Design Claims
  %li
    %a{ :href => "./representations.html" }
      Representations
