!!! Strict
%html{ "xml:lang" => "en-AU", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title Fall 2010 HCI Project: James Cook, Matt Duval, Richard Easterling, Adam Sharp
    = stylesheets
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "Content-Type" }
  %body
    #content
      #header
        %h1 HCI Project
      #nav
        %h2 Site navigation
        = navbar current_page
      = yield
